In [55]:
file_path = paths.stage2["stage1-cache"] / "weighted_average_top1_df.csv"
assert file_path.exists()
weighted_average_top1_df = pd.read_csv(file_path)
print(weighted_average_top1_df.info())
weighted_average_top1_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10593 entries, 0 to 10592
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   efo     10593 non-null  object
 1   Model   10593 non-null  object
 2   value   10593 non-null  float64
dtypes: float64(1), object(2)
memory usage: 248.4+ KB
None

                                        efo         Model  value
0      http://www.ebi.ac.uk/efo/EFO_0004616  BLUEBERT-EFO  0.412
1      http://www.ebi.ac.uk/efo/EFO_0003778  BLUEBERT-EFO  1.000
2      http://www.ebi.ac.uk/efo/EFO_0003901  BLUEBERT-EFO  0.125
3      http://www.ebi.ac.uk/efo/EFO_0004247  BLUEBERT-EFO  0.529
4      http://www.ebi.ac.uk/efo/EFO_0003917  BLUEBERT-EFO  0.529
...                                     ...           ...    ...
10588  http://www.ebi.ac.uk/efo/EFO_1000107   Levenshtein  0.059
10589  http://www.ebi.ac.uk/efo/EFO_0003769   Levenshtein  1.000
10590  http://www.ebi.ac.uk/efo/EFO_0002422   Levenshtein  0.556
10591  http://www.ebi.ac.uk/efo/EFO_0008549   Levenshtein  1.000
10592  http://www.ebi.ac.uk/efo/EFO_0003853   Levenshtein  0.316

[10593 rows x 3 columns]

In [56]:
file_path = paths.stage2["stage1-cache"] / "weighted_average_top10_df.csv"
assert file_path.exists()
weighted_average_top10_df = pd.read_csv(file_path)
print(weighted_average_top10_df.info())
weighted_average_top10_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9416 entries, 0 to 9415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   efo     9416 non-null   object
 1   Model   9416 non-null   object
 2   value   9416 non-null   float64
dtypes: float64(1), object(2)
memory usage: 220.8+ KB
None

                                       efo         Model  value
0     http://www.ebi.ac.uk/efo/EFO_0004616  BLUEBERT-EFO  0.464
1     http://www.ebi.ac.uk/efo/EFO_0003778  BLUEBERT-EFO  0.658
2     http://www.ebi.ac.uk/efo/EFO_0003901  BLUEBERT-EFO  0.091
3     http://www.ebi.ac.uk/efo/EFO_0004247  BLUEBERT-EFO  0.576
4     http://www.ebi.ac.uk/efo/EFO_0003917  BLUEBERT-EFO  0.576
...                                    ...           ...    ...
9411  http://www.ebi.ac.uk/efo/EFO_1000107   Levenshtein  0.135
9412  http://www.ebi.ac.uk/efo/EFO_0003769   Levenshtein  0.741
9413  http://www.ebi.ac.uk/efo/EFO_0002422   Levenshtein  0.420
9414  http://www.ebi.ac.uk/efo/EFO_0008549   Levenshtein  0.499
9415  http://www.ebi.ac.uk/efo/EFO_0003853   Levenshtein  0.328

[9416 rows x 3 columns]